<template>
  <div class='homePage'>
      <ul>
        <div class="container">
          <div>
            <li>
              <router-link to="./todos" class="link">Todos</router-link>
            </li>
            <li>
              <router-link to="./page1" class="link">Page 1</router-link>
            </li>
          </div>
          <div>
            <li class="employee">
              <router-link to="./signin" class="link">Войти</router-link>
            </li>
          </div>
        </div>
      </ul>

    <h2>Добро пожаловать в систему регистрации на прием к врачу</h2>

    <Record class="record"/>
  </div>
</template>

<script>
import Record from '../components/Record.vue'

export default {
  name: 'app',
  components: {
    Record
  }
}
</script>

<style scoped>
  .container {
    display: flex;
    justify-content: space-between;
  }

  .record {
    margin:0 auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: space-between;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
</style>