<template>
  <div class='signInPage'>
    <ul>
      <div class="navbar">
        <div>
          <li class="right-nav">
            <router-link to="./" class="link">Home</router-link>
          </li>
        </div>
      </div>
    </ul>

    <h2>Авторизация</h2>

    <SignInForm class="signInForm"></SignInForm>
  </div>
</template>

<script>
import SignInForm from "../components/SignInForm";

export default {
name: "SignInPage",
  components: {SignInForm}
}
</script>

<style scoped>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .navbar {
    display: flex;
    float: right;
  }

  .signInPage {

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .signInForm {
    margin: 0 auto;
  }
</style>