<template>
  <form @submit.prevent="">
    <input type="text" placeholder="Номер полиса">
    <input type="text" name="name" placeholder="Имя">
    <input type="text" name='surname' placeholder="Фамилия">
    <input type="text" name='mail' placeholder="Электронная почта">

    <select>
      <option>Терапевт</option>
      <option>Стоматолог</option>
      <option>Лор</option>
    </select>

    <select>
      <option>Петрова</option>
      <option>Сидорова</option>
      <option>Иванова</option>
    </select>

    <select>
      <option>Дата 1</option>
      <option>Дата 2</option>
      <option>Дата 3</option>
    </select>

    <select>
      <option>Время 1</option>
      <option>Время 2</option>
      <option>Время 3</option>
    </select>

    <button type="submit">Записаться</button>
  </form>
</template>

<style scoped>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #111111;
    border-radius: 8px;
  }

  input {
    width: 85%;
    padding: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-top: 20px;
    border-radius: 8px;
  }

  input:focus {
    outline: none;
  }

  button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    transition: 0.1s;
    background: #333333;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  button:hover {
    background: #111111;
    cursor: pointer;
  }

  button:active {
    background: rgb(128, 128, 130);
  }

  select {
    width: 85%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    margin-top: 20px;
    outline: none;
    border-radius: 8px;
  }

  select:focus {
    outline: none;
  }

  select:hover {
    cursor: pointer;
  }
</style>