<template>
  <form class="signInForm" @submit.prevent="auth">
    <input type="text" name="login" placeholder="Логин" v-model="login">
    <input type="password" name="pass" placeholder="Пароль" v-model="pass">

    <button type="submit">Войти</button>
  </form>
</template>

<script>
export default {
  name: "SignInForm",
  data() {
    return {
      login: "",
      pass: ""
    }
  },
  methods: {
    auth: function() {
      if (this.login === "") {
        alert("Введите логин!")
        return
      }

      if (this.pass === "") {
        alert("Введите пароль!")
        return
      }
    }
  }
}
</script>

<style scoped>
*,
*::before,
*::after {
  box-sizing: border-box;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 400px;
  padding: 10px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin-top: 20px;
  border-radius: 8px;
}

input:focus {
  outline: none;
}

button {
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  transition: 0.1s;
  background: #333333;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button:hover {
  background: #111111;
  cursor: pointer;
}

button:active {
  background: rgb(128, 128, 130);
}
</style>