<template>
  <div id="app">
    <div id="header">
      <h1>АИС "Поликлиника"</h1>
      <hr>
    </div>

    <router-view />
  </div>

</template>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #header {
    margin-bottom: 0;
  }
</style>
